*{
    padding: 0px;
    margin: 0px;
}

#main-container{
    width: 100%;
    background-color: white;
}

/* custom css div  */

#custom-css-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

#custom-css-div>div{
    flex-grow: 1;
}



#custom-css-div>div>img{
    width: 100%;
}

/* Photo gallery section  */

#photo-gallery-div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    overflow: hidden;
}

#photo-gallery-div>div{
    width: 100%;
    height: 100%;
}
#photo-gallery-div>div>img{
    width: 100%;
    height: 100%;
}

#grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 5px;

}

/* Bootstrap card section  */

#bootstrap-card-div{
    gap: 10px;
}

#bootstrap-card-div>div{
    flex-grow: 1;
}

/* footer  */

#footer>div>div{
    width: 100vh;
}

/* media querries  */

@media screen and (max-width: 1020px){
    #custom-css-div{
        flex-wrap: wrap;
    }
    #custom-css-div>div{
        flex-grow: 0;
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    #custom-css-div>div{
        width: 100%;
    }
    #copyright{
        flex-direction: column;
    }
    #copyright>p{
        align-self: flex-start;
    }
    #copyright>a{
        align-self: flex-end;
        margin-top: 10px;
    }
}